body{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    height: 100vh;
    margin: 0%;
}
.top{
    background-color: #1f2937;
}
.header{
    color: azure;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    margin-left: 75px;
    margin-right: 75px;
}
/* this is the container for the .info , .testimonial, and . advertising */
.content{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
/* unorderded list*/
ul{
    list-style-type: none; /*removes bullet points*/
    display: flex;
    gap: 16px;
}

a{
    text-decoration: none;
    color: azure;
}
.hero{
    color: white;
    font-weight: bolder;
    display: flex;
    justify-content: space-around;
}
/*this is the container holding the 4 pictures*/
.illustration-container{
    display: flex;
    /* ensures that illustrations wrap when the container is too small*/
    flex-wrap: wrap;
}
/*this is the container for each picture and its subtitle */
.illustration{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    margin: 20px;
}
/*this is the selector all img in illustration*/
.illustration img {
    border-style: solid;
    border-color: #3882f6;
    border-width: 4px;
    border-radius: 10px;
    width: 200px;
    height: 200px;
}
.illustration p{
    text-align: center;
    /*ensures words do not overflow the set width*/
    word-wrap: break-word;
}
button{
    background-color: #3882f6;
    color: azure;
}
img{
    width: 400px;
}
.testimonial{
    background-color: #E5E7EB;
    padding: 32px;
    font-size: 36px;
    color: #1f2937;
    /* this is from chat gpt ---- */
    /*The width ensure that .testimonial takes full width if not already
    align self stretch will overrride align-items for .testimonial
    */
    width: 100%;
    /*align-self: center; if i have this on 
    /*---*/
}
.testimonial p{
    word-wrap: break-word;
    text-align: center;/*aligns the text in the center*/
    padding: 10px 150px 10px 150px;
}
.advertising{
    background-color: #3882f6;
    border-style: solid;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    margin: 40px;
    width: 50%;
    height: 70px;
}
.ad-info{
   display: flex;
   flex-direction: column;
   color: azure;
}
.ad-info h3{
   font-size: 25px;
   margin: 0%;
}
.ad-info p{
    font-size: 25px;
    margin: 0%;
}
/* for this section to */
.footer{
    background-color: #1f2937;
    color: azure;
    display: flex;
    align-self: center;
    justify-content: center; /*this aligns the content*/
    width: 100%;
    padding: 20px
}